section.hero {
  height: 300px;
  background: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-detail .post-detail-main {
  margin-top: -4rem;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: white;
}

.post-detail .post-title-wrapper {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-detail .post-image {
  width: 100%;
  margin-bottom: 1rem;
}
.post__modal {
  position: fixed;
  z-index: -1000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
}
.post__modal-active {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}
.post__modal-active-2 {
  z-index: ;
}
.post__modal .post__modal-wrap {
  position: absolute;
  inset: 0;
}
.post__modal .post__modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 67%;
  height: 81%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% top;
  transition: transform 0.5s 0.5s, opacity 0.5s;
}
.post__modal-active .post__modal-body-active {
  transform: translate(-50%, -50%) scale(1);
}
.post__modal .post__modal-body-active-2 {
  transform: translate(-50%, -50%) scale(1);
  transition: initial;
}
.post__modal .post__modal-body-active-3 {
  opacity: 0;
}
.post__modal .post__modal-body-active-4 {
  width: 50%;
}
.post__modal .post__modal-body-active-5 {
  transition: width 0.5s;
  width: 50%;
}
.post__modal .post__modal-body-active-6 {
  transition: width 0.5s;
  width: 67%;
}
.post__box {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.post__modal .post__modal-body .post__modal-body-img {
  position: relative;
  height: 100%;
}
.post__modal .post__modal-body .post__modal-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
}
.post__modal .post__modal-body .post__modal-arrow a {
  display: block;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.post__modal .post__modal-body .post__modal-arrow:hover a {
  opacity: 1;
}
.post__modal .post__modal-prev {
  right: 70%;
  left: 0;
}
.post__modal .post__modal-prev a {
  background-image: url("../images/prev.png");
  background-position: 10% 50%;
}
.post__modal .post__modal-next a {
  background-image: url("../images/next.png");
  background-position: 90% 50%;
}
.post__modal .post__modal-next {
  left: 70%;
  right: 0;
}
.post__modal .post__modal-body .post__modal-body-img img {
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  border-radius: 5px;
  object-fit: cover;
}
.post__modal .post__modal-info {
}
.post__modal .post__modal-info h3 {
  display: inline-block;
  line-height: 15px;
  margin: 0;
  color: #ccc;
  font-size: 13px;
  font-weight: 600;
}
.post__modal .post__modal-info .post__modal-info-count {
  line-height: 17.594px;
  padding-bottom: 12px;
  color: #999;
  font-size: 12px;
}
.post__modal .post__modal-x a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.3s;
}
.post__modal .post__modal-x a:hover {
  opacity: 1;
}
